<!-- <nav class="navbar navbar-expand-lg bg-dark navbar-dark"> -->
<!-- <nav class="navbar navbar-expand-lg"> -->
<nav class="navbar navbar-expand-lg navbar-light">
  <!-- <nav class="navbar navbar-expand-lg bg-dark navbar-dark"></nav>
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button> -->
    <div class="collapse navbar-collapse" >
      <ul class="navbar-nav ">
        <li class="nav-item active">
          <a class="nav-link" href="/index">Home </a>
        </li>
      </ul>
    </div>
  
  <div>
    <a id="signin" class="btn btn-basic" href="/signin">Sign in</a>
    <a id="signup" class="btn btn-default" href="/signup">Sign up</a>
    <a id="logout" class="btn btn-default" href="/logout">Log out</a>
  </div>
  </nav>